body {font-family: sans-serif}
#header {margin: 10px;}
#outer {margin: 10px; padding: 10px;}
#all_persons {float: left; padding: 5px;}
#details {padding: 5px;}
label  {display: inline-block; float: left; width: 6em;}